# =============================================================================
# ServiceAccount
# =============================================================================
apiVersion: v1
kind: ServiceAccount
metadata:
  name: exclusive-change
  labels:
    app: exclusive-change
automountServiceAccountToken: false
